@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

html {
    background-color: var(--secondary-color);
}

body {
    background-color: #474747;
    margin: 0;
}

/* Header */

header {
    font-family: var(--header-font);
    margin-bottom: 50px;
}

#mainHeader {
    text-align: center;
    background-color: var(--secondary-color);
    border-bottom: 5px var(--primary-color) solid;
    width: 100%;
}

#headerLinkHolder {
    margin: 10px 20px;
}

.headerLink {
    padding: 5px;
}

/* Header Links */

a {
    text-decoration: none;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: #D5573B;
}

/* Main */

main {
    font-family: var(--paragraph-font);
    min-height: 100%;
}

/* Current Extremes Section */

#conditionSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 150px;
}

#conditionsBoxHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 25px;
}

.conditionBox {
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 50px;
}

#conditionsTab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 1fr;
    gap: 5px;
    text-align: center;
    color: black;
}

#conditionDetails {
    grid-column: 1 / 3;
}

/* Footer */

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: var(--paragraph-font);
    color: white;
    background-color: var(--secondary-color);
}

#footerContent {
    margin: 0 0 0 20px;
}

/* Variables */

:root {
    --header-font: 'Lexend';
    --paragraph-font: 'Funnel Sans';

    --primary-color: #0873EE;
    --secondary-color: #0F0A15;
}